.BOLT1C-wrapper{
  float: left;
}

.bolt1c-plate-section {
  font-size: 0;
  float: left;
  width: 12px;
  height: 9px;
  padding: 0;
  background-color: red;
}

.bolt1c-beam-section {
  float: left;
  width: 3px;
  height: 1px;
  padding: 0;
  background-color: white;
}

.top {
  margin-top: 3px;
}
.bottom {
  margin-top: 5px;
}